<div class="columns is-desktop">
  <div class="column">
    <div class="card">
      <div class="card-content">
        <p class="title is-4">Estado del Indicador</p>
        <div class="chart-container">
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="card-content">
        <p class="title is-4">Importar Tramas</p>
        <div class="file-upload-container">
          <div class="file is-centered is-boxed">
            <label class="file-label">
              <input class="file-input" type="file" (change)="onFileSelected($event)" [disabled]="uploadedFiles.length >= 3" multiple>
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  Click para seleccionar
                </span>
              </span>
            </label>
          </div>
          <p *ngIf="uploadedFiles.length >= 2" class="file-limit-message">Máximo 2 archivos permitidos</p>
        </div>
        <div class="uploaded-files-list" *ngIf="uploadedFiles.length > 0">
          <ul>
            <li *ngFor="let file of uploadedFiles; let i = index">
              {{ file.name }}
              <button class="button is-small is-danger" (click)="removeFile(i)">
                <span class="icon is-small">
                  <i class="fas fa-times"></i>
                </span>
              </button>
            </li>
          </ul>
        </div>
        <div class="upload-button-container">
          <button class="button is-primary is-fullwidth" 
          [disabled]="uploadedFiles.length === 0 || uploadedFiles.length > 2 || isUploading"
          (click)="uploadFiles()">
    {{ isUploading ? 'Cargando...' : 'Cargar Archivos' }}
  </button>  
        </div>
      </div>
    </div>
  </div>
</div>