/* Variables globales */
:root {
  --card-background-color: white;
  --text-color: #333;
  --title-color: #222;
  --primary-font: 'Roboto', sans-serif;
}

/* Estilos generales */
body {
  font-family: var(--primary-font);
}

.columns {
  margin-top: 1rem;
}


/* Tipografía */
.title, .subtitle {
  color: var(--title-color) !important;
  font-family: var(--primary-font);
}

.title.is-4 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.subtitle.is-5 {
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--text-color) !important;
}

p, span, .file-label {
  color: var(--text-color) !important;
}

/* Estilos para la sección de carga de archivos */
.file-upload-container {
  margin-bottom: 1rem;
}

.file {
  justify-content: center;
}

.file-cta {
  flex-direction: column;
  height: auto;
  padding: 2rem;
  background-color: var(--card-background-color) !important;
  border: 2px dashed #dbdbdb;
}

.file-icon {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: var(--text-color) !important;
}

/* Estilos para la lista de archivos subidos */
.uploaded-files-list {
  margin-top: 1rem;
  margin-bottom: 1rem;
  overflow-y: auto;
  max-height: 300px;
}
.uploaded-files-list ul {
  list-style-type: none;
  padding: 0;
}

.uploaded-files-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}



.upload-button-container {
  margin-top: 1rem;
}

/* Botones */
.button {
  font-family: var(--primary-font);
  background-color: #4a4a4a;
  color: white !important;
  border: none;
  transition: background-color 0.3s ease;
}

.button.is-primary {
  background-color: #3273dc;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #363636 !important;
}

.button.is-danger {
  background-color: #ff3860;
}

.button.is-danger:hover {
  background-color: #ff1443 !important;
}

.button.is-primary:hover {
  background-color: #2366d1;
}

.button.is-primary:disabled {
  background-color: #b5b5b5;
  cursor: not-allowed;
}

/* Estilos generales */
.columns {
  margin-top: 1rem;
}

.column {
  padding: 0.75rem; 
}


/* Estilos de tarjetas */
.card {
  background-color: var(--card-background-color) !important;
  color: var(--text-color) !important;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  height: auto; /* Cambiado de altura fija a auto */
  min-height: auto; /* Altura mínima */
}

.card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem; /* Ajusta el padding según necesites */
}



/* Contenedor del gráfico */
.chart-container {
  flex: 1;
  position: relative;
  width: 100%;
  min-height: auto; /* Altura mínima, ajusta según necesites */
  max-height: auto; /* Altura máxima, ajusta según necesites */
}

/* TABLA DE DATOS */
/* Estilos base de la tabla */
.custom-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin: 20px 0;
  font-size: 1em;
  font-family: 'Arial', sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  --bulma-table-background-color: transparent;
  background-color: transparent;
}

/* Sobrescribir estilos de Bulma */
.custom-table.table {
  --bulma-table-background-color: transparent;
  --bulma-table-color: inherit;
  background-color: transparent;
  color: inherit;
}

.custom-table.table td,
.custom-table.table th {
  border: none;
  border-style: none !important;
  padding: 12px 15px;
  color: inherit;
}

/* Estilos del encabezado */
.custom-table thead tr {
  background-color: #f2f2f2;
  color: #333;
  text-align: left;
  font-weight: bold;
}

/* Estilos de las filas del cuerpo */
.custom-table tbody tr {
  border-bottom: 1px solid #dddddd;
  background-color: #ffffff;
}

.custom-table tbody tr:nth-of-type(even) {
  background-color: #f9f9f9;
}

.custom-table tbody tr:last-of-type {
  border-bottom: 2px solid #f2f2f2;
}

.custom-table tbody tr:hover {
  background-color: #f1f1f1;
}

/* Asegurar color de texto en encabezados */
.custom-table thead tr th {
  color: #333 !important;
}

/* Ajustes de espaciado */
.custom-table th:first-child,
.custom-table td:first-child {
  padding-left: 20px;
}

.custom-table th:last-child,
.custom-table td:last-child {
  padding-right: 20px;
}

.custom-table td {
  transition: background-color 0.3s ease;
}



/* Contenedor con scroll horizontal */
.table-container {
  overflow-x: auto;
  margin-top: 20px;
}

/* Diseño responsive */
@media screen and (max-width: 600px) {
  .custom-table {
    font-size: 0.9em;
  }
  
  .custom-table td,
  .custom-table th {
    padding: 10px 12px;
  }
}

.rango-cumplimiento {
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.85em;
  font-weight: 500;
  display: inline-block;
}

.rango-bajo {
  background-color: #e8f5e9;
  color: #006806;
}

.rango-medio {
  background-color: #fff3e0;
  color: #f57c00;
}

.rango-alto {
  background-color: #e3f2fd;
  color: #d21919;
}