@media screen and (min-width: 1024px) {
  .container.is-fluid {
    padding: 2rem 3rem;
  }
}

@media (max-width: 1024px) {
  .chart-container {
    height: 40vh !important;
    width: 90vw !important;
  }
}

.custom-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #363636;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.column {
  padding: 1rem; /* Esto añadirá espacio alrededor de cada columna */
}

.box {
  height: 100%; /* Esto asegurará que la caja ocupe toda la altura de la columna */
  color: #ffffff;
  background-color: #ffffff; /* Asegúrate de que el fondo sea blanco */
  border: none; /* Elimina cualquier borde */
  box-shadow: none; /* Elimina cualquier sombra */
}
.custom-card {
  height: 150px; /* Ajusta la altura según tus necesidades */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
